<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotont">

    <xacro:property name="primary_color" value="$(arg main_color)"/>
    <xacro:arg name="second_color"  default="0.75 0.75 0.75 1.0"/>
    <xacro:property name="secondary_color" value="$(arg second_color)"/>

    <xacro:include filename="$(find realsense2_description)/urdf/_d435i.urdf.xacro"/>
    <xacro:include filename="$(find robotont_description)/urdf/gen3/robotont.urdf.xacro"/>
    <xacro:include filename="$(find robotont_nuc_description)/urdf/gen3/camera.urdf.xacro"/>
    <xacro:include filename="$(find robotont_nuc_description)/urdf/gen3/nuc.urdf.xacro"/>
    <xacro:arg name="simulated" default="false"/>

    <xacro:property name="frame_height" value="0.065"/>
    <xacro:property name="frame_ground_clearance" value="0.014"/>

    <!-- Camera assembly -->
    <xacro:camera_macro
            color="${secondary_color}"
            frame_height="${frame_height}"
            frame_ground_clearance="${frame_ground_clearance}"
            prefix="${prefix}"
    />

    <!-- Realsense -->
    <xacro:if value="$(arg simulated)">
        <xacro:sensor_d435i name="${prefix}camera" parent="${prefix}base_link" use_nominal_extrinsics="true">
            <origin xyz="-0.105 0 0.197" rpy="0 0 0"/>
        </xacro:sensor_d435i>
    </xacro:if>
    <xacro:unless value="$(arg simulated)">
        <xacro:sensor_d435i name="${prefix}camera" parent="${prefix}base_link" use_nominal_extrinsics="false">
            <origin xyz="-0.105 0 0.197" rpy="0 0 0"/>
        </xacro:sensor_d435i>
    </xacro:unless>

    <!-- NUC -->
    <xacro:nuc_macro
            color="${secondary_color}"
            frame_height="${frame_height}"
            frame_ground_clearance="${frame_ground_clearance}"
            prefix="${prefix}"
    />

</robot>
