<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotont">
	<xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
    <xacro:include filename="$(find robotont_description)/urdf/robotont_base.urdf.xacro"/>
    <xacro:arg name= "add_plug" default="false"/>
    <xacro:arg name= "simulated" default="false"/>
    <xacro:property name= "prefix" value="$(arg prefix)"/>
    <xacro:if value="$(arg simulated)">
        <xacro:sensor_d435 parent="${prefix}base_link" use_nominal_extrinsics="true">
            <origin xyz="-0.12 0 0.21" rpy="0 0 0"/>
        </xacro:sensor_d435>
    </xacro:if>
    <xacro:unless value="$(arg simulated)">
        <xacro:sensor_d435 parent="${prefix}base_link" use_nominal_extrinsics="false">
            <origin xyz="-0.12 0 0.21" rpy="0 0 0"/>
        </xacro:sensor_d435>
    </xacro:unless>
    <!-- Computer -->
    <link name="${prefix}computer_link">
        <visual>
            <geometry>
                <box size="0.11 0.11 0.04"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <material name="computer_material">
                <color rgba="0.1 0.1 0.1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.11 0.11 0.04"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </collision>
    </link>

    <joint name="${prefix}computer_joint" type="fixed">
        <parent link="${prefix}base_link"/>
        <child link="${prefix}computer_link"/>
        <origin xyz="-0.01 0 0.085" rpy="0 0 0"/>
    </joint>
</robot>
