<?xml version="1.0" ?>
<launch>
	<param name="robot_description" command="$(find xacro)/xacro '$(find robotont_nuc_description)/urdf/robotont_realsense.urdf.xacro' use_nominal_extrinsics:=false"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotont_nuc_description)/config/robotont_realsense.rviz"/>
</launch>
